@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Supplier/Views/Shared/Supplier.cshtml";
}

<div class="card" style="width:100%;">
    <h5 class="card-header">
        Loai San Pham
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-light">Light</button>
    </h5>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 " style="margin-top:2%;">
                    <div class="anhnho">
                        <div class="GiamGia">Giảm:30%</div>
                        <div class="MaGiamGia">Mã:ASDFGHJ</div>
                        <a class="" href="#"><i class=" cartt fa fa-2x fa-cart-plus"></i></a>
                        <img class="anhSanPham" src="~/Content/Home/img/WIN_20191213_01_15_11_Pro.jpg" alt="...">
                    </div>
                    <div class="TesnanPham">tengfs sdf sdfasd fasdf sadfsadf asdfsa dfsadfas dfsadf sa</div>
                    <div class="GiaSanPham">1236547</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 " style="margin-top:2%;">
                    <div class="anhnho">
                        <div class="GiamGia">Giảm:30%</div>
                        <div class="MaGiamGia">Mã:ASDFGHJ</div>
                        <a class="" href="#"><i class=" cartt fa fa-2x fa-cart-plus"></i></a>
                        <img class="anhSanPham" src="~/Content/Home/img/WIN_20191213_01_15_11_Pro.jpg" alt="...">
                    </div>
                    <div class="TesnanPham">tengfs sdf sdfasd fasdf sadfsadf asdfsa dfsadfas dfsadf sa</div>
                    <div class="GiaSanPham">1236547</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 " style="margin-top:2%;">
                    <div class="anhnho">
                        <div class="GiamGia">Giảm:30%</div>
                        <div class="MaGiamGia">Mã:ASDFGHJ</div>
                        <a class="" href="#"><i class=" cartt fa fa-2x fa-cart-plus"></i></a>
                        <img class="anhSanPham" src="~/Content/Home/img/WIN_20191213_01_15_11_Pro.jpg" alt="...">
                    </div>
                    <div class="TesnanPham">tengfs sdf sdfasd fasdf sadfsadf asdfsa dfsadfas dfsadf sa</div>
                    <div class="GiaSanPham">1236547</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 " style="margin-top:2%;">
                    <div class="anhnho">
                        <div class="GiamGia">Giảm:30%</div>
                        <div class="MaGiamGia">Mã:ASDFGHJ</div>
                        <a class="" href="#"><i class=" cartt fa fa-2x fa-cart-plus"></i></a>
                        <img class="anhSanPham" src="~/Content/Home/img/WIN_20191213_01_15_11_Pro.jpg" alt="...">
                    </div>
                    <div class="TesnanPham">tengfs sdf sdfasd fasdf sadfsadf asdfsa dfsadfas dfsadf sa</div>
                    <div class="GiaSanPham">1236547</div>
                </div>
            </div>
        </div>
    </div>
</div>

