
@{
    ViewBag.Title = "ThemGiamGia";
    Layout = "~/Areas/Supplier/Views/Shared/Supplier.cshtml";
}

<link href="~/Areas/Content/Css_sup/GiamGia.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 card">
            <h5 class="card-heard">Mã Giảm Giá</h5>
            <div class="card-body">
                <input type="submit" id="BtnAddFree" class="btn btn-success" value="Thêm Mã Giảm Giá" />
                <div id="KhungGiamGia">

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 card">
            <h5 class="card-heard">Lựa Chọn Sản Phẩm</h5>
            <div class="card-body">
                thantruongtirnh
            </div>
        </div>
    </div>
</div>

