
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Supplier/Views/Shared/Supplier.cshtml";
}

<div class="card">
    <div class="card-header">
        sdad
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Ảnh</th>
                    <th>Số comment</th>
                    <th>số sao</th>
                    <th>TB sao</th>
                    <th>Đánh Giá Mới</th>
                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mã</td>
                    <td>Tên</td>
                    <td><img style="height:8em; width:6em; border-radius:3px;" src="~/Areas/Content/IMG/avatar.png" /></td>
                    <td>Số comment</td>
                    <td>số sao</td>
                    <td>TB sao</td>
                    <td>Đánh Giá Mới</td>
                    <td><button class="btn btn-success">Xem</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

