
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Supplier/Views/Shared/Supplier.cshtml";
}

<div class="Card">
    <h5 class="card-header">Bài Viết của Bạn</h5>
    <div class="card-body">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td style="width:70%;">
                        tag
                    </td>
                    <td style="width:30%; margin-left:70%;">
                        <a href="#">them</a>/<a href="#">Chỉnh Sửa</a>/<a href="#">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

