
@{
    ViewBag.Title = "ThemBaiVietMoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<div class="card" style="width:100%;">
    <h5 class="card-header">
        Tìm Kiếm sản Phẩm
        <select>
            <option>
                Chủ Đề
            </option>
        </select>
        <select>
            <option>
                Loại
            </option>
        </select>
        <select>
            <option>
                sadsadsa
            </option>
        </select>
        <div class="search-box1">
            <input type="text" class="search-txt1" name="" placeholder="Tìm Kiếm Sản Phẩm" />
            <a class="search-btn1" href="#">
                <i class="fa fa-search"></i>
            </a>
        </div>
    </h5>
    <div class="card-body">
        <div class="card" style="width:100%;">
            <h5 class="card-header">
                Tìm Kiếm sản Phẩm                            
            </h5>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Mã ảnh</th>
                            <th>ChiTiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>sad</td>
                            <td>sad</td>
                            <td>sad</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    o day se cai dat thong tin chi tiet của san pham chu y dương dan ảnh
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Thêm Bài Viết </h2>
<textarea class="ckeditor" id="ckcontent"></textarea>
<div>
    <button class="btn btn-warning">Xem Trước</button>
    <button class="btn btn-success">Lưu</button>
    <button class="btn btn-primary">Xóa</button>
</div>
<div class="card" style="height:auto; width:80%; margin-left:10%;">
   <h5 class="card-header">Bài Viết Xem Trước</h5>
    <div class="card-header">
        Day la bai viet
    </div>
</div>