@using DiDongTrongToi.Models;
@model chi_tiet_The_cao
@{
    ViewBag.Title = "gf";
    Layout = "~/Views/ChiTietSanPham/LayOutChiTiet.cshtml";
    bandiDongEntities db = new bandiDongEntities();
}
<div style="width:100%; font-size:200%; background-color:#a99595; color:black; position:fixed; z-index:100;"><b><i>@db.sanphams.Where(m => m.id == Model.sanpham).FirstOrDefault().ten</i></b></div>
<div style="padding-top:100px;"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Tên</th>
                        <th scope="col">Chi Tiết</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SDT</td>
                        <td>@Model.sdt</td>
                    </tr>
                    <tr>
                        <td>Mệnh Giá</td>
                        <td>@Model.menhGia</td>
                    </tr>
                    <tr>
                        <td>Nhà Mạng</td>
                        <td>@Model.NhaMang</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

