@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Supplier/Views/Shared/Supplier.cshtml";
}}
<div class="card" style="width:100%;">
    <div class="card-body">
        <table class="table table-sm" style="height:150px;">
            <tbody>
                <tr>
                    <td style="width:40%;" rowspan="3">
                        <div style="width:100%; height:100%; background-color:#766f6f; border:1px solid black; margin:0.25em; border-radius:3px;">
                            <img style="height:100px; float:left; width:100px; margin:0.5em; border-radius:100%; " src="~/Areas/Content/IMG/avatar.png" />
                            <div style="width:55%; margin-top:5%; margin-left:5%; float:left;">
                                <h4>minh minh dep trai</h4>
                                <button style="display:block;" class="btn btn-success"><i class="fa fa-plus"></i> Theo Dõi</button>
                            </div>
                        </div>
                    </td>
                    <td>Sản Phẩm : asdas</td>
                    <td>Phản Hồi :  sdadas</td>
                    <td>Đánh Giá sadasda</td>
                </tr>
                <tr>
                    <td>Thời Gian Chuẩn bị hàng asdasds</td>
                    <td>Tỷ lệ Hủy Đơn asdasdas</td>
                    <td>Thành Lập asdada</td>
                </tr>
                <tr>
                    <td>Theo dõi dasdasd</td>
                    <td>the Bird asdas</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card" style="width:100%;">
    <h5 class="card-header">
        Loai San Pham
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-light">Light</button>
    </h5>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 " style="margin-top:2%;">
                    <div class="anhnho">
                        <div class="GiamGia">Giảm:30%</div>
                        <div class="MaGiamGia">Mã:ASDFGHJ</div>
                        <a class="" href="#"><i class=" cartt fa fa-2x fa-cart-plus"></i></a>
                        <img class="anhSanPham" src="~/Content/Home/img/WIN_20191213_01_15_11_Pro.jpg" alt="...">
                    </div>
                    <div class="TesnanPham">tengfs sdf sdfasd fasdf sadfsadf asdfsa dfsadfas dfsadf sa</div>
                    <div class="GiaSanPham">1236547</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 " style="margin-top:2%;">
                    <div class="anhnho">
                        <div class="GiamGia">Giảm:30%</div>
                        <div class="MaGiamGia">Mã:ASDFGHJ</div>
                        <a class="" href="#"><i class=" cartt fa fa-2x fa-cart-plus"></i></a>
                        <img class="anhSanPham" src="~/Content/Home/img/WIN_20191213_01_15_11_Pro.jpg" alt="...">
                    </div>
                    <div class="TesnanPham">tengfs sdf sdfasd fasdf sadfsadf asdfsa dfsadfas dfsadf sa</div>
                    <div class="GiaSanPham">1236547</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 " style="margin-top:2%;">
                    <div class="anhnho">
                        <div class="GiamGia">Giảm:30%</div>
                        <div class="MaGiamGia">Mã:ASDFGHJ</div>
                        <a class="" href="#"><i class=" cartt fa fa-2x fa-cart-plus"></i></a>
                        <img class="anhSanPham" src="~/Content/Home/img/WIN_20191213_01_15_11_Pro.jpg" alt="...">
                    </div>
                    <div class="TesnanPham">tengfs sdf sdfasd fasdf sadfsadf asdfsa dfsadfas dfsadf sa</div>
                    <div class="GiaSanPham">1236547</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 " style="margin-top:2%;">
                    <div class="anhnho">
                        <div class="GiamGia">Giảm:30%</div>
                        <div class="MaGiamGia">Mã:ASDFGHJ</div>
                        <a class="" href="#"><i class=" cartt fa fa-2x fa-cart-plus"></i></a>
                        <img class="anhSanPham" src="~/Content/Home/img/WIN_20191213_01_15_11_Pro.jpg" alt="...">
                    </div>
                    <div class="TesnanPham">tengfs sdf sdfasd fasdf sadfsadf asdfsa dfsadfas dfsadf sa</div>
                    <div class="GiaSanPham">1236547</div>
                </div>
            </div>
        </div>
    </div>
</div>